.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  padding: 12px 28px;
  color: #F9FAFB;
  background-color: var(--color-purple);
  border-radius: 4px;
  transition: var(--transition);

  &:hover {
    background-color: #7543e2;
  }
}