.section {
  flex-direction: column;
  gap: 24px;

  h2 {
    text-align: center;
  }
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}

@media (max-width: 1536px) {
  .list {
    grid-template-columns: 1fr 1fr;
  }
}


@media (max-width: 768px) {
  .list {
    grid-template-columns: 1fr;
    max-width: 400px;
    margin: 0 auto;
  }
}