.item {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 24px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.text {
  font-size: 14px;
  line-height: 1.43;
  color: var(--color-main);
}

@media (max-width: 768px) {
  .item {
    padding: 6px
  }
}