body {
  background-color: var(--background-body);
  font-family: var(--font-family), sans-serif;
}

.container {
  display: flex;
  max-width: calc( var(--container-x) + var(--container-padding-x) * 2 );
  padding-inline: var(--container-padding-x);
  margin: 0 auto var(--container-margin-y) auto;

  @media (max-width: 1024px) {
    & {
      max-width: 798px;
    }
  }

  @media (max-width: 768px) {
    & {
      max-width: calc( var(--container-x) / 2 + var(--container-padding-x) * 2 );
      margin-bottom: calc( var(--container-margin-y) / 2 );
    }
  }
}