:root {
  --background-white: #F9FAFB;
  --background-body: #E5E7EB;
  --background-footer: #111827;

  --color-main: #111827;
  --color-placeholder: #9CA3AF;
  --color-purple: #8B5CF6;

  --transition: all 0.3s ease 0s;

  --container-x: 1536px;
  --container-padding-x: 15px;
  --container-margin-y: 32px;

  --font-family: 'Formular';
}