.titleH1 {
  font-size: 36px;
  line-height: 1.11;
  color: var(--color-main);
}

.titleH2 {
  font-size: 30px;
  line-height: 1.2;
  color: var(--color-main);
}

.titleH3 {
  font-size: 24px;
  line-height: 1.33;
  color: var(--color-main);
}

.w700 {
  font-weight: 700;
}

.w900 {
  font-weight: 900;
}