.headerContainer {
  display: flex;
  flex-direction: column;
  gap: 34px;
  margin-block: 0 var(--container-margin-y);
  padding-block: 25px;
}

.containerTop,
.containerBottom {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  width: 100%;
}

.containerInfo {
  display: flex;
  gap: 25px;
  position: relative;
  align-items: center;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 49%;
    translate: -50%;
    width: 1px;
    height: 100%;
    background-color: var(--color-purple);
  }
}